*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #5a189a;
}
header{
    background-color: #c1b8d7;
    height: 70px;
}
.botonNav{
    text-decoration: none;
    background-color: #7e7590;
    color: #fff;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 15px;
}
.fondoOscuro{
    background-color: #c1b8d7;
}
.fondoClaro{
    background: linear-gradient(#fff0f3, #fff);
}
.botonNav:hover{
    background-color: #5a189a;
    color: #fff;
}
footer{
    background-color: #5a189a;
    margin-top: 20px;
}
/* capacitaciones*/
.galeriaContainer{
    display: grid;
    gap: 10px;
}
.galItem{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.galItem1{
    background-image: url(../media/capacitaciones2.jpg);
    grid-column: 1/2;
    grid-row: 1/3;
}
.galItem2{
    background-image: url(../media/capacitaciones1.jpg);
    grid-column: 2/3;
    grid-row: 1/2;
}
.galItem3{
    background-image: url(../media/capacitaciones3.jpg);
    grid-column: 2/3;
    grid-row: 2/3;
}
.galItem4{
    background-image: url(../media/capacitaciones4.jpg);
    grid-column: 1/3;
    grid-row: 3/4;
}
.formCap{
    display: flex;
    flex-direction: column;
}

/* Vista Mobile Home */
.navMobileContainer{
    height: 70px;
}
.navMobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navMobile i{
    color: #5a189a;
    font-size: 2em;
}
.navDesktop{
    display: none;
}
.bienv1Container{
    color: #5a189a;
}
.bienvH1{
    font-size: 0.9em;
    text-align: center;
    margin-top: 20px;
}
.bienvH1 em{
    font-weight: 600;
}
.bienvH1 span{
    font-size: 6.5em;
    font-weight: 900;    
}
.especialidadLink{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.especialidadLink i{
    font-size: 2.5em;
}
.especialidadLink h3 a{
    text-decoration: none;
    font-size: 1em;
    display: inline-block;
    color: #5a189a;
    line-height: 22px;
    padding-left: 15px;
}
.imgContainer{
    display: flex;
    justify-content: center;
}
.imgHome{
    height: 320px;
}
.divLine{
    background-color: #5a189a;
    height: 4px;
    width: 95%;
    margin: auto;
}
#medicasgeneralistas{
    font-size: 3em;
    line-height: 40px;
    padding-top: 20px;
    text-align: center;
}
.subtituloMg{
    font-size: 1em;
    padding-bottom: 20px;
    text-align: center;
}
.recoContainer{
    width: 290px;
    margin: auto;
}
.imgMobile{
    width: 290px;
    border-radius: 15px;
}
.recoContainer p{
    font-size: 0.9em;
    text-align: justify;
    padding: 10px;
}
.boton{
    text-decoration: none;
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
    background-color: #5a189a;
    border-radius: 15px;
    border: none;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 290px;
}
.capContainer{
    display: flex;
    justify-content: center;
}
.capTitle{
    font-weight: 900;
    font-size: 2.3em;
    padding-top: 20px;
    text-align: center;
}
.capTxt{
    font-size: 0.9em;
    text-align: justify;
    width: 290px;
    margin: auto;
}
.formContainer1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formContainer1 h2{
    font-size: 2.3em;
    font-weight: 900;
}
.comTxt{
    width: 290px;
}
.inputHome{
    width: 290px;
    padding: 5px;
    margin-top: 10px;
}
/* Vista Mobile Capacitaciones */
.galeriaContainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 300px);
    gap: 10px;
    padding-left: 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.galItem1{
    grid-column: 1/1;
    grid-row: 1/2;
}
.galItem2{
    grid-column: 1/1;
    grid-row: 2/3;
}
.galItem3{
    grid-column: 1/1;
    grid-row: 3/4;
}
.galItem4{
    grid-column: 1/1;
    grid-row: 4/5;
}
.mainCap h1{
    font-weight: 900;
    font-size: 2em;
    padding: 10px;
}
.mainCap p{
    font-size: 0.9em;
    text-align: justify;
    padding: 10px;
}
.inputCap{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}
.formCap textarea{
    height: 250px;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}
.formHome{
    text-align: center;
}
.footerContainer p, .footerContainer h4,.footerContainer i{
    color: #fff;
}
.footerIzq, .footerDer{
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.footerIzq h4{
    font-size: 2em;
    font-weight: 200;
    line-height: 30px;
}
.footerIzq p{
    font-size: 0.9em;
    font-weight: 200;
    text-align: justify;
}
.footerIzq p strong{
    color: #fff;
    font-weight: 400;
}
.footerDer i{
    font-size: 2em;
}
.footerDer h4 a{
    text-decoration: none;
    color: #fff;
    font-size: 1.4em;
}
/* Vista Mobile ¿Que es MG? */
.quemgTitle h1{
    font-weight: 900;
    font-size: 2.9em;
    width: 100%;
    line-height: 45px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.quemgImg{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.quemgImg img{
    width: 280px;
    border-radius: 50%;
    border: 6px solid #fff0f3;
}
.quemgTxt p{
    font-size: 0.9em;
    text-align: justify;
    padding: 20px;
}

/* Vista Tablet Home */
@media only screen and (min-width:576px){
    .especialidadLink h3 a{
        font-size: 0.8em;
    }
    .imgContainer{
        display: flex;
        justify-content: flex-start;  
    }
    .divLine{
        width: 95%;
    }
    #medicasgeneralistas{
        font-size: 5em;
        font-weight: 200;
        margin-top: 20px;
        line-height: 70px;
    }
    .subtituloMg{
        font-size: 1.38em;
        margin-top: 20px;
    }
    .recoContainer{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .recoContainer img{
        width: 70%;
        margin-top: 20px;
    }
    .capContainer{
        justify-content: flex-end;
    }
    .recoContainer p{
        width: 70%;
        line-height: 20px;
    }
    .botonDesktop{
        margin: 0;
        width: 150px;
    }
    .cap{
        margin-top: 50px;
    }
    .capContainer1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgCap{
        width: 268px;
    }
    .capTitle{
        font-size: 2em;
        width: 248px;
    }
    .capTxt{
        font-size: 0.9em;
        width: 248px;
        margin: 0px;
    }
    .form{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .formContainer1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        height: 300px;
    }
    .comTitle{
        font-weight: 900;
        font-size: 2em;
        width: 248px;
    }
    .comTxt{
        font-size: 0.9em;
        width: 248px;
    }
    .formHome{
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
    }
    .inputHome{
        width: 268px;
    }
    .formHome textarea{
        height: 140px;
    }
    .boton{
        margin: 0;
        margin-top: 20px;
    }
    .botonForm{
        width: 150px;
    }
    .botonCenter{
        margin: auto;
    }
    /* Vista Tablet Capacitaciones */
    .galeriaContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 200px);
    }
    .galItem1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .galItem2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .galItem3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .galItem4{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .formCap .boton{
        margin-top: 20px;
    }
    .footerContainer{
        width: 100%;
        display: flex;
    }
    .footerIzq, .footerDer{
        padding: 50px;
    }
    
}

/* Vista Desktop */
@media only screen and (min-width:992px){
    .navMobile{
        display: none;
    }
    .navDesktop{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .listNav{
        border: 1.5px solid #5a189a;
        border-radius: 15px;
        padding: 5px;
        margin: 0;
        margin-left: 80px;
    }
    .listNav:hover{
        border: 2.5px solid #5a189a;
    }
    .listNav li{
        list-style: none;
        display: inline;
        text-transform: uppercase;
        padding: 5px;
    }
    .listNav li a{
        text-decoration: none;
        color: #5a189a;
    }
    .listNav li a:hover{
        font-weight: 600;
    }
    .botonNav{
        margin-right: 80px;
    }
    .bienvH1{
        font-size: 1.3em;
        margin-top: 100px;
    }
    .bienvH1 span{
        font-size: 7em;  
    }
    .especialidadLink i{
        font-size: 2.5em;
    }
    .especialidadLink h3 a{
        text-decoration: none;
        font-size: 1em;
        display: inline-block;
        color: #5a189a;
        line-height: 22px;
        padding-left: 15px;
    }
    .imgContainer{
        justify-content: flex-start;
    }
    .imgHome{
        height: 550px;
    }
    .recoContainer img{
        width: 250px;
    }
    .recoContainer p{
        width: 250px;
        line-height: 20px;
    }
    #medicasgeneralistas{
        font-size: 6em;
    }
    .subtituloMg{
        font-size: 1.6em;
    }
    .cap{
        padding-top: 70px;
    }
    .capContainer1{
        justify-content: flex-end;
    }
    .imgCap{
        width: 450px;
        height: 300px;
        border-radius: 30px;
        background-size: cover;
    }
    .capTitle{
        font-size: 3em;
        width: 400px;
        margin-top: 30px;
        margin-left: 10px;
    }
    .capTxt{
        font-size: 0.9em;
        width: 400px;
        margin: 0px;
        margin-left: 30px;
    }
    .comTitle{
        font-weight: 900;
        font-size: 3em;
        width: 450px;
    }
    .comTxt{
        font-size: 1.22em;
        width: 450px;
    }
    .formContainer1{
        justify-content: center;
    }
    .formHome{
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
    }
    .inputHome{
        width: 450px;
    }
    .formHome textarea{
        height: 200px;
    }
    .boton{
        margin: 0;
        margin-top: 20px;
    }
    .botonCenter{
        margin: auto;
    }
    .botonDesktop{
        margin-left: 30px;
        margin-top: 50px;
    }
     /* Vista Desktop Capacitaciones */
    .galeriaContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 200px);
        padding: 60px;
        padding-right: 20px;
    }
    .galItem{
        background-position: top;
    }
    .galItem1{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .galItem2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .galItem3{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .galItem4{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .mainCap{
        padding: 50px;
        padding-left: 20px;
    }
    .formCap .boton{
        margin-top: 50px;
    }
    .formCap textarea{
        height: 150px;
        margin-top: 10px;
    }
    .formCap .boton{
        margin: 0;
        margin-top: 20px;
        width: 150px;
    }
    .inputCap{
        width: 90%;
    }
    .formCap textarea{
        height: 200px;
        width: 90%;
    }
    .mainCap h1, .mainCap p{
        padding: 0px;
        width: 90%;
    }
    .footerContainer{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footerIzq, .footerDer{
        padding: 50px;
        width: 600px;
    }
    /* Vista desktop ¿Que es MG? */
    .quemgImg img{
        width: 75%;
    }
    .quemgTitle h1{
        font-size: 5em;
        text-align: left;
        line-height: 70px;
    }
    .quemgTxt{
        display: flex;
        justify-content: center;
        padding: 30px;
        width: 100%;
    }
}
/* Vista Desktop xxxl */
@media only screen and (min-width:1500px){   
    
    .bienvH1{
        font-size: 2em;
        margin-top: 150px;
    }
    .bienvH1 span{
        font-size: 7em;  
    }
    .especialidadLink{
        padding-top: 50px;
    }
    .especialidadLink i{
        font-size: 5em;
    }
    .especialidadLink h3 a{
        text-decoration: none;
        font-size: 1.5em;
        display: inline-block;
        color: #5a189a;
        line-height: 40px;
        padding-left: 30px;
    }
    .imgHome{
        height: 850px;
    }
    #medicasgeneralistas{
        font-size: 9em;
        margin-top: 40px;
    }
    .subtituloMg{
        font-size: 2em;
        margin-top: 45px;
        letter-spacing: 4px;
    }
    .recoContainer img{
        width: 300px;
        margin-top: 40px;
    }
    .recoContainer p{
        width: 300px;
        line-height: 30px;
        font-size: 1.22em;
    }
    .imgCap{
        width: 600px;
        height: 400px;
        border-radius: 40px;
    }
    .capTitle{
        font-size: 4em;
        width: 500px;
        margin-top: 60px;
        margin-left: 30px;
    }
    .capTxt{
        font-size: 1.22em;
        width: 600px;
        margin: 0px;
        margin-left: 30px;
    }
    .comTitle{
        width: 600px;
    }
    .comTxt{
        font-size: 1.22em;
        width: 600px;
    }
    .inputHome{
        width: 600px;
    }
    .listNav{
        margin-left: 150px;
    }
    .botonNav{
        margin-right: 150px;
    }
    /* Vista Desktop xxl Capacitaciones */
    .galeriaContainer{
        grid-template-rows: repeat(3, 250px);
        padding-left: 150px;
    }
    .mainCap{
        padding-left: 50px;
    }
    .inputCap{
        width: 70%;
    }
    .formCap textarea{
        height: 300px;
        width: 70%;
    }
    .mainCap h1,.mainCap p{
        width: 70%;
    }
    .mainCap h1{
        font-size: 3.5em;
    }
}